{% extends "base.html" %}
{% load static %}

{% block title %}
    This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock%}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title">
            <address>By Imran</address>
            <div>
                last updated on <time datetime="">July 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio asperiores maiores aut harum dolorum omnis molestias, tempore iusto numquam nihil repellat quasi ea aperiam animi excepturi accusantium. Minus, illo harum.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio asperiores maiores aut harum dolorum omnis molestias, tempore iusto numquam nihil repellat quasi ea aperiam animi excepturi accusantium. Minus, illo harum.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio asperiores maiores aut harum dolorum omnis molestias, tempore iusto numquam nihil repellat quasi ea aperiam animi excepturi accusantium. Minus, illo harum.
        </p>
    </main>
{% endblock %}